.topbar-refinements {
    .experience-pd_assets-pdPlusImageHoverEffects { border: 0.625rem solid $white; }
}

.experience-pd_assets-pdPlusImageHoverEffects { height: 100%; }

.object-fit {
    &-fill { object-fit: fill; }

    &-contain { object-fit: contain; }

    &-cover { object-fit: cover; }

    &-scale-down { object-fit: scale-down; }

    &-none { object-fit: none; }
}

[class^="imghvr-"],
[class*=" imghvr-"] {
    @include size(100%);

    transform: translateZ(0);
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: transparent;
    color: $white;
    overflow: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;

    .img-outer {
        height: 100%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    figcaption { @include fill(0); }

    .img-title {
        h3 {
            font-size: 1.125rem;
            line-height: 1.625;
            font-weight: 700;
            margin: 0 0 0.25rem;
        }
    }

    .img-content p { font-size: 0.9375rem; }
}

.tiles-links {
    margin-top: 0.9375rem;

    a { font-size: 0.875rem; }
}

.gallery-tiles {
    margin-bottom: 0;
    height: calc(100% - 1rem);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .img-outer img {
        @include size(100%);

        vertical-align: top;
        max-width: 100%;
    }

    .image-details {
        padding: 0.9375rem;
        width: 100%;

        .img-title h3 {
            line-height: 1.625;
            font-weight: 700;
            margin: 0 0 0.25rem;
            font-family: $font-oswald;
            font-size: 2rem;
        }

        .img-content p {
            font-size: 0.9375rem;

            &:only-child { margin-bottom: 0; }
        }
    }
}

.image-details {
    display: flex;
    margin: 0;

    &.flex-row,
    &.flex-row-reverse {
        .img-title,
        .img-content {
            flex: 0 0 100%;
            max-width: 100%;
        }

        &.justify-content-start {
            .img-title h3,
            .img-content p { text-align: left; }
        }

        &.justify-content-center {
            .img-title h3,
            .img-content p { text-align: center; }
        }

        &.justify-content-end {
            .img-title h3,
            .img-content p { text-align: right; }
        }
    }

    &.flex-column.align-items-start,
    &.flex-column.align-items-stretch {
        .img-title h3,
        .img-content p { text-align: left; }
    }

    &.flex-column.align-items-center {
        .img-title h3,
        .img-content p { text-align: center; }
    }

    &.flex-column.align-items-end {
        .img-title h3,
        .img-content p { text-align: right; }
    }
}

.captionAbsoluteLayout {
    position: relative;

    .image-details {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

        .img-title {
            position: relative;

            h3 {
                &::after {
                    content: '';
                    border: solid #e62329;
                    border-width: 0 5px 5px 0;
                    display: inline-block;
                    padding: 8px;
                    transform: rotate(-45deg) translateY(-8px);
                    position: absolute;
                    bottom: 8px;
                    right: 0;
                }
            }
        }
    }
}

.image-hover-scale {
    .img-outer {
        overflow: hidden;

        img {
            transition: transform 0.5s ease 0.05s, opacity 0.3s;
        }
    }

    &:hover {
        img {
            transition: transform 0.5s ease 0.05s, opacity 0.3s;
            transform: scale3d(1.075, 1.075, 1);
        }
    }
}

[class^="imghvr-"],
[class*=" imghvr-"],
[class^="imghvr-"]::before,
[class^="imghvr-"]::after,
[class*=" imghvr-"]::before,
[class*=" imghvr-"]::after,
[class^="imghvr-"] *,
[class*=" imghvr-"] *,
[class^="imghvr-"] *::before,
[class^="imghvr-"] *::after,
[class*=" imghvr-"] *::before,
[class*=" imghvr-"] *::after {
    box-sizing: border-box;
    transition: all 0.35s ease;
}
